<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netlearning.fss.mapper.FileTypeMapper">

    <resultMap id="fileTypeResultMap" type="com.netlearning.framework.domain.fss.response.FileTypeResult">
        <result column="id"                     property="id"                   jdbcType="VARCHAR" />
        <result column="business_type"          property="businessType"                   jdbcType="VARCHAR" />
        <result column="remark"                 property="remark"                   jdbcType="VARCHAR" />
        <result column="fs_size"                property="fileSize"                   jdbcType="VARCHAR" />
        <result column="fs_type"                property="fileType"                   jdbcType="VARCHAR" />
        <result column="create_date"            property="cteateTime"                   jdbcType="TIMESTAMP" />
        <result column="update_date"            property="updateTime"                   jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="fileTypeParam">
      `id`,
      `business_type`,
      `remark`,
      `fs_size`,
      `fs_type`,
      `create_date`,
      `update_date`
    </sql>

    <select id="get" resultMap="fileTypeResultMap" parameterType="com.netlearning.framework.domain.fss.FileType">
    SELECT
      <include refid="fileTypeParam"></include>
    FROM
      `fss_business_type`
    <where>
        <if test="id != null and id != ''">
            AND `id` = #{id,jdbcType=VARCHAR}
        </if>
        <if test="businessType != null and businessType != ''">
            AND `business_type` = #{businessType,jdbcType=VARCHAR}
        </if>
        <if test="remark != null and remark != ''">
            AND `remark` = #{remark,jdbcType=VARCHAR}
        </if>
        <if test="fileSize != null and fileSize != ''">
            AND `fs_size` = #{fileSize,jdbcType=VARCHAR}
        </if>
        <if test="fileType != null and fileType != ''">
            AND  `fs_type` = #{fileType,jdbcType=VARCHAR}
        </if>
        <if test="cteateTime != null ">
            AND `create_date` = #{cteateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null">
            AND `update_date` = #{updateTime,jdbcType=TIMESTAMP}
        </if>
    </where>
    </select>

    <select id="query" resultMap="fileTypeResultMap" parameterType="com.netlearning.framework.domain.fss.FileType">
        SELECT
        <include refid="fileTypeParam"></include>
        FROM
        `fss_business_type`
        <where>
            <if test="id != null and id != ''">
                AND `id` = #{id,jdbcType=VARCHAR}
            </if>
            <if test="businessType != null and businessType != ''">
                AND `business_type` = #{businessType,jdbcType=VARCHAR}
            </if>
            <if test="remark != null and remark != ''">
                AND `remark` = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="fileSize != null and fileSize != ''">
                AND `fs_size` = #{fileSize,jdbcType=VARCHAR}
            </if>
            <if test="fileType != null and fileType != ''">
                AND  `fs_type` LIKE CONCAT('%',#{fileType,jdbcType=VARCHAR},'%')
            </if>
            <if test="cteateTime != null ">
                AND `create_date` = #{cteateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                AND `update_date` = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <update id="update" parameterType="com.netlearning.framework.domain.fss.FileType">
    UPDATE
      `fss_business_type`
      <trim prefix="SET"  suffixOverrides=",">
          <if test="id != null and id != ''">
              `id` = #{id,jdbcType=VARCHAR},
          </if>
          <if test="businessType != null and businessType != ''">
              `business_type` = #{businessType,jdbcType=VARCHAR},
          </if>
          <if test="remark != null and remark != ''">
              `remark` = #{remark,jdbcType=VARCHAR},
          </if>
          <if test="fileSize != null and fileSize != ''">
              `fs_size` = #{fileSize,jdbcType=VARCHAR},
          </if>
          <if test="fileType != null and fileType != ''">
              `fs_type` = #{fileType,jdbcType=VARCHAR},
          </if>
          <if test="cteateTime != null ">
              `create_date` = #{cteateTime,jdbcType=TIMESTAMP},
          </if>
          <if test="updateTime != null">
              `update_date` = #{updateTime,jdbcType=TIMESTAMP},
          </if>
      </trim>
    </update>

    <insert id="insert" parameterType="com.netlearning.framework.domain.fss.FileType">
        INSERT INTO `fss_business_type`
        <trim prefix="(" suffix=")"  suffixOverrides=",">
            <if test="id != null and id != ''">
                `id`,
            </if>
            <if test="businessType != null and businessType != ''">
                `business_type`,
            </if>
            <if test="remark != null and remark != ''">
                `remark`,
            </if>
            <if test="fileSize != null and fileSize != ''">
                `fs_size`,
            </if>
            <if test="fileType != null and fileType != ''">
                `fs_type`,
            </if>
            <if test="cteateTime != null ">
                `create_date`,
            </if>
            <if test="updateTime != null">
                `update_date`,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")"  suffixOverrides=",">
            <if test="id != null and id != ''">
                 #{id,jdbcType=VARCHAR},
            </if>
            <if test="businessType != null and businessType != ''">
                #{businessType,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark != ''">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null and fileSize != ''">
                #{fileSize,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null and fileType != ''">
               #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="cteateTime != null ">
                #{cteateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="com.netlearning.framework.domain.fss.FileType">
        DELETE
        FROM
          `fss_business_type`
        WHERE `id` = #{id,jdbcType=VARCHAR}
    </delete>
</mapper>
