<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netlearning.fss.mapper.test.FileRecordMapper">
  <resultMap id="BaseResultMap" type="com.netlearning.fss.pojo.FileRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="content_type" jdbcType="VARCHAR" property="contentType" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="remote_file_name" jdbcType="VARCHAR" property="remoteFileName" />
    <result column="file_size" jdbcType="BIGINT" property="fileSize" />
    <result column="file_absolute_path" jdbcType="VARCHAR" property="fileAbsolutePath" />
    <result column="unique_id" jdbcType="VARCHAR" property="uniqueId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="orig_file_name" jdbcType="VARCHAR" property="origFileName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="from_system_id" jdbcType="VARCHAR" property="fromSystemId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, content_type, user_id, group_name, remote_file_name, file_size, file_absolute_path, 
    unique_id, remark, orig_file_name, create_time, update_time, from_system_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fss_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from fss_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.netlearning.fss.pojo.FileRecord">
    insert into fss_record (id, content_type, user_id, 
      group_name, remote_file_name, file_size, 
      file_absolute_path, unique_id, remark, 
      orig_file_name, create_time, update_time, 
      from_system_id)
    values (#{id,jdbcType=VARCHAR}, #{contentType,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{groupName,jdbcType=VARCHAR}, #{remoteFileName,jdbcType=VARCHAR}, #{fileSize,jdbcType=BIGINT}, 
      #{fileAbsolutePath,jdbcType=VARCHAR}, #{uniqueId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{origFileName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{fromSystemId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.netlearning.fss.pojo.FileRecord">
    insert into fss_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="contentType != null">
        content_type,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="remoteFileName != null">
        remote_file_name,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="fileAbsolutePath != null">
        file_absolute_path,
      </if>
      <if test="uniqueId != null">
        unique_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="origFileName != null">
        orig_file_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="fromSystemId != null">
        from_system_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null">
        #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="remoteFileName != null">
        #{remoteFileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="fileAbsolutePath != null">
        #{fileAbsolutePath,jdbcType=VARCHAR},
      </if>
      <if test="uniqueId != null">
        #{uniqueId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="origFileName != null">
        #{origFileName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fromSystemId != null">
        #{fromSystemId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.netlearning.fss.pojo.FileRecord">
    update fss_record
    <set>
      <if test="contentType != null">
        content_type = #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="remoteFileName != null">
        remote_file_name = #{remoteFileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        file_size = #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="fileAbsolutePath != null">
        file_absolute_path = #{fileAbsolutePath,jdbcType=VARCHAR},
      </if>
      <if test="uniqueId != null">
        unique_id = #{uniqueId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="origFileName != null">
        orig_file_name = #{origFileName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fromSystemId != null">
        from_system_id = #{fromSystemId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netlearning.fss.pojo.FileRecord">
    update fss_record
    set content_type = #{contentType,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      group_name = #{groupName,jdbcType=VARCHAR},
      remote_file_name = #{remoteFileName,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=BIGINT},
      file_absolute_path = #{fileAbsolutePath,jdbcType=VARCHAR},
      unique_id = #{uniqueId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      orig_file_name = #{origFileName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      from_system_id = #{fromSystemId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>